* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --blue-500: hsl(215, 51%, 70%);
  --blue-800: hsl(215, 32%, 27%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-950: hsl(217, 54%, 11%);
  --cyan: hsl(178, 100%, 50%);
}

body {
  background-color: var(--blue-950);
  font-family: "Outfit", sans-serif;
  color: var(--blue-500);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
}

.card {
  background-color: var(--blue-900);
  border-radius: 1.25rem;
  width: 20rem;
  padding: 1.25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__nft-image-wrapper {
  position: relative;
  width: 17.5rem;
  height: 17.5rem; /*NOTE: height is neccessary, ::after is adding extra 4px */
  border-radius: 0.625rem;
  overflow: hidden;
}

.card__nft-image {
  width: 100%;
  border-radius: 0.625rem;
}

.card__nft-image-wrapper:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  background-image: url("/images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
}

.card__title:hover {
  color: var(--cyan);
}

.card__description {
  font-weight: 300;
  line-height: 1.5rem;
}

.card__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__detail {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

#price {
  color: var(--cyan);
  font-weight: 600;
}

#time-left {
  font-weight: 300;
}

.card__author {
  border-top: solid 1px var(--blue-800);
  padding: 0.75rem 0;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__avatar {
  width: 2rem;
  border-radius: 50%;
  border: solid 1px var(--white);
}

.card__author-name {
  color: var(--white);
  text-decoration: none;
}

.card__author-name:hover {
  color: var(--cyan);
}

.attribution {
  font-size: 0.625rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
